/* body {
    background-color: rgb(61, 67, 68);
}

.cont {
  margin: 0 auto;
  width: 300px;
  text-align: center;
}

h1 {
  text-align: center;
  color: rgb(102, 102, 197);
  margin: 10px 0;
}

main {
  margin: 25px;
}

main img {
  height: 150px;
  width: 150px;
  border-radius: 50%;
}

h3 {
  color: chocolate;
}

h4 {
  color: turquoise;
}

.btn {
  text-align: end;
  color: darkcyan;
}

button {
    border: 1px solid crimson;
    border-radius: 5px;
    padding: 10px;
    margin-right: 10px;
    font-weight: 600;
    cursor: pointer;
    background-color: antiquewhite;
} */
